
@media (min-width: 600px){
    .container-sub-2-1>button {
        display: none;
    }
    .container-main-main {
        padding-left: 10%;
        padding-right: 10%;
        height: fit-content;
    }
    .container-main-1{
        padding: 1%;
    }
    .container-main-1>h1 {
        letter-spacing: 50px;
        margin-top: 2%;
    }
    .container-main-3 {
        border-top: 0.001px solid white;
        display: grid;
        padding: 20px;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-template-columns: auto auto ;
        height: fit-content;
        }
        .container-sub-3 {
            padding: 20px;
            border-radius: 10px;
            font-size: 20px;
            margin: 0.8%;
            padding: 10px;
            height: 100px;
            max-width: 100%;  
        }
        .sub-3-img {
            height: 100%;
            width: 100%;
        }
        .sub-3-p {
            max-width: 90%;
            text-align: center;
            height: 100%;
            width: 100%;
        }
        .container-sub-3 > img {
            max-height: 100%;
            max-width: 100%;
            text-align: center;    
            display: flex;
            flex-wrap: wrap;
        }
        .container-sub-3-1 {
            margin: 1px;
            background-color: silver;
        }

        .container-main-5 {
            display: flex;
            flex-wrap: wrap;
        }
        .container-sub-5 {
            padding: 20px;
            border-radius: 10px;
            font-size: 20px;
            margin: 8%;
            padding: 10px;
            width: 30%;
            height: 300px;

           }
        .sub-5-img {
            height: 100%;
            width: 100%;
        }
        .container-main-6 {
            position: sticky;
            bottom: 0;
            text-align: center;
            z-index: 1;
            font-family: 'Roboto Mono', monospace;
            border-top: 0.001px solid white;

            grid-column-gap: 20px;
            grid-row-gap: 10px;
            grid-template-columns: auto auto auto;
            background: linear-gradient(47deg, rgba(255,255,255,1) 0%, rgba(204,204,203,1) 0%, rgba(189,189,188,1) 0%, rgba(183,183,182,1) 0%, rgba(166,167,165,1) 0%, rgba(162,162,161,1) 0%, rgba(168,168,167,1) 0%, rgba(114,115,113,1) 0%, rgba(204,204,203,1) 0%, rgba(207,207,206,1) 0%, rgba(139,139,138,1) 0%, rgba(75,76,74,1) 0%, rgba(118,118,117,1) 0%, rgba(100,101,99,1) 0%, rgba(74,75,73,1) 0%, rgba(77,78,76,1) 0%, rgba(50,51,49,1) 0%, rgba(70,71,69,1) 0%, rgba(64,65,63,1) 10%, rgba(10,11,9,1) 100%);
            font-size: smaller;
            
            border-top: 0.001px solid white;
            display: grid;
            padding: 10px;
            z-index: 3;
        }

        .ins {
            height: 250px;
            width: 250px;
        }
}
